* {
  box-sizing: border-box;
  font-family: monospace;
}

main {
  width: 640px;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

#reset-button {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

#error-message {
  color: red;
  margin-top: 20px;
}

#instructions {
  margin: 0 auto;
  margin-top: 32px;
  line-height: 1.5em;
  font-size: 1.1em;
}

#game-message {
  font-size: 1.1em;
}

.cell {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.hit-mine {
  color: white;
  background-color: #DC143C;
  font-weight: bold;
}

.reset-button {
  padding: 4px 6px;
}

